.contenedor-header{
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
}
.logo img {
    height: 60px;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 20;
}

.menu {
    display: flex;
    list-style: none;
    gap: 2.5rem;      
    align-items: center;
    margin: 0;
    padding: 0;
}
.menu a {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.menu a:hover {
    font-weight: 700;
}


.global {
    width: 22px;
    cursor: pointer;
}
